.dashboard-card {}

#heatmap {
  position: absolute !important;
  margin-left: -250px;
  top: 0;
  left: 50%;
}

.camera-video {
  width: 0;
  height: 0;
}

#heatmap,
.camera-video--full {
  width: 500px;
  height: 375px;
}

mat-progress-spinner {
  margin: 5% auto;
}

.dashboard-card-content {
  position:relative;
}
