.dashboard-card {}

#heatmap {
  position: absolute;
}

.camera-video {
  width: 0;
  height: 0;
}

#heatmap,
.camera-video--full {
  width: 640px;
  height: 480px;
}

mat-progress-spinner {
  margin: 5% auto;
}
