<div class="grid-container">
  <div id="heatmap"></div>
  <mat-card class="dashboard-card mat-elevation-z6" *ngIf="selected$ | async; let selected">
    <mat-card-header>
      <mat-card-title>
        <h3 class="mat-h3">{{selected.name}}</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content" style="width: 100%; min-height: 500px;">
      <!--<video *ngIf="selected.type === 'video'">-->
        <!--<source (src)="selected.videoStreamUrl" type="application/dash+xml">-->
      <!--</video>-->
      <mat-progress-spinner
        *ngIf="streamLoading"
        mode="indeterminate"
        [diameter]="60">
      </mat-progress-spinner>
      <img class="camera-video"
           [class.camera-video--full]="!streamLoading"
           *ngIf="selected.type === 'image'"
           [src]="selected.videoStreamUrl"
           (load)="streamLoading = false">
      <plotly-plot
        [config]="{locale: 'en'}"
        [data]="graph.data"
        [layout]="layout"
        [useResizeHandler]="true"></plotly-plot>
    </mat-card-content>
  </mat-card>
</div>
