Keras==2.2.4
numpy==1.15.0
imutils==0.5.0
opencv_contrib_python==4.1.0.25
scipy==1.1.0
dlib==19.17.0
Flask_Cors==3.0.7
tensorflow==2.3.1
matplotlib==3.0.3
pandas==0.24.2
SQLAlchemy==1.2.10
face_recognition_models==0.3.0
Flask==1.0.2
