<div class="grid-container">
  <form (ngSubmit)="saveCamera(camera)" #cameraEditForm="ngForm" *ngIf="camera$ | async; let camera">
    <mat-card class="dashboard-card mat-elevation-z6">
      <mat-card-header>
        <mat-card-title>
          <h3 class="mat-h2">{{camera.id ? 'Update' : 'Create'}} Camera</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content" fxLayout="column" fxFlexFill>
        <mat-form-field>
          <input matInput [(ngModel)]="camera.name" name="name" placeholder="Camera Name" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="camera.url" name="url" placeholder="Camera Url" required>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary">Save</button>
        <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
