<ng-container *ngIf="clientsDS">
  <table mat-table [dataSource]="clientsDS" [trackBy]="trackByFn" class="rec-table mat-elevation-z8">
    <!-- Photo Column -->
    <ng-container matColumnDef="person">
      <th mat-header-cell *matHeaderCellDef> Photo</th>
      <td mat-cell *matCellDef="let row">
        <img [src]="row.person.photo" class="rec-table__photo"/>
      </td>
    </ng-container>

    <!-- Matches Column -->
    <ng-container matColumnDef="matches">
      <th mat-header-cell *matHeaderCellDef> Matches</th>
      <td mat-cell *matCellDef="let row" class="rec-table__matches">
        <div *ngIf="row.person.name; else unknownPerson">
          <img class="select-option" [src]="row.matches[0].photo"/>
          <p>Stars: {{row.person.stars}}</p>
          <p>Description: {{row.person.description}}</p>
        </div>
        <ng-template #unknownPerson>
          <img class="select-option select-option--selectable" (click)="bind(row.person, match)" *ngFor="let match of row.matches" [src]="match.photo"/>
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ng-container>
