@import '~@angular/material/theming';

.rec-page {
  padding: 10px;

  .rec-stream {
    max-width: 350px;
  }

  .rec-table {
    width: 100%;

    &__avatar {
      display: block;
      border-radius: 50%;
    }

    &__photo {
      min-width: 200px;
      width: 200px;
      min-height: 200px;
      height: 200px;

      background-size: cover;
      background-position: center;
    }

    &__matches {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      .select-option {
        margin: 10px;

        max-height: 200px;

        border: 2px solid transparent;
      }

      .select-option--selectable {
        &:hover {
          cursor: pointer;
          border: 2px solid #4caf50;
        }
      }

      .known-person {
        width: 100%;

        &__info {
          margin-left: 20px;
          width: 100%;
        }

        &__stars {
          cursor: pointer;
          margin-bottom: 10px;
        }
      }
    }
  }
}
