@import '~@angular/material/theming';

.rec-table {
  width: 100%;

  &__photo {
    max-height: 200px;
  }

  &__matches {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .select-option {
      margin: 3px;
      padding: 2px;

      max-height: 200px;

      border: 1px solid white;
    }

    .select-option--selectable {
      &:hover {
        cursor: pointer;
        border: 1px solid #4caf50;
      }
    }
  }
}
