<html>
<head>
    <title>Face Analytics</title>
    <link rel="stylesheet" href='../static/css/style.css'/>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        $(document).ready(setInterval(function () {
            $.ajax({
                type: 'GET',
                url: 'text_stream',
                dataType: "TEXT",
                success: function (result) {
                    $("<div />").text(result).appendTo("#tail")
                }
            });
        }, 1000 * 60));











    </script>
</head>
<body>
<div id="header">
    <h1>Face Analytics Demonstration</h1>
</div>

<form action="{{ url_for('analyse') }}" method="POST" id="stream_f">
    Web-cam URL:<br>
    <img src="{{ img_path }}" id="stream">

    <div id="tail">

    </div>

    <input type="text" name="camera_url" id="url_in">
    <input type="submit" value="Go" id="submit">
</form>

</body>
</html>