<html>
<head>
    <title>Face Analytics</title>
    <link rel="stylesheet" href='../static/css/style.css'/>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        // tail effect
        function tailScroll() {
            var height = $("#tail").get(0).scrollHeight;
            $("#tail").animate({
                scrollTop: height
            }, 500);
        }

        function log() {
            $.ajax({
                type: 'GET',
                url: 'text_stream',
                dataType: "TEXT",
                success: function (result) {
                    $("<div />").text(result).appendTo("#tail")
                    tailScroll();
                }
            });
        }
        log();
        $(document).ready(
            setInterval(function() {
                    log();
                },
                1000 * 10
            )
        );

    </script>
<body>
<div id="header">
    <h1>Face Analytics Demonstration</h1>
</div>

<form action="{{ url_for('analyse') }}" method="POST" id="stream_f">
    <img src="{{ img_path }}" id="stream">

    Web-cam URL:<br>
    <input type="text" name="camera_url" id="url_in">
    <input type="submit" value="Go" id="submit">
</form>

<div id="tail">

</div>

</body>
</html>