body {
	background: white;
	color: black;
	padding: 10px;
	width: 1024px;
    height: 1024px;
}

#header {
    text-align: center
}

#stream_f {
    width: 512px;
    height: 512px;
    align: center;
}

#stream {
    width: 512px;
    height: 288px;
}

#url_in {
    width: 350px;
    height: 30px;
    align: left;
}

#submit {
    width: 70px;
    height: 35px;
    border: 2px solid;
    border-radius: 5px;
    margin: 5px 5px;
    text-align: center;
    font-size: 18px;
    align: left;
}

#tail {
    width: 400px;
    height: 288px;
    float: right;
    vertical-align: top;
    border: 1px solid blue;
    overflow: hidden;
}

