<mat-card class="demo-panel">
  <mat-card-title>
    Face Analytics
  </mat-card-title>
  <mat-card-content>
    <mat-drawer-container class="sidenav-container">a
      <mat-drawer
        class="mat-elevation-z5"
        #drawer
        class="sidenav"
        fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)"
        position="end">
        <mat-nav-list>
          <mat-list-item *ngFor="let camera of cameras">
            {{camera.name}}
          </mat-list-item>
        </mat-nav-list>
      </mat-drawer>
      <mat-drawer-content style="padding: 20px 50px 50px 20px;">
        <div mat-card class="mat-elevation-z5">
          <mat-card-content>
            <plotly-plot style="width: 100%" [data]="graph.data" [layout]="graph.layout"></plotly-plot>
          </mat-card-content>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>

  </mat-card-content>
</mat-card>
